venv/
.vscode/

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

models/*.pth
models/*.pt
!models/.gitkeep

# Ignore python caches
__pycache__/
*.pyc
*.pyo

# Ignore notebooks checkpoints
.ipynb_checkpoints/